<div>
    <div class="container">
        <div class="jumbotron">
            <h1>ES+ Admin Manager</h1>
            <p class="lead">This tools is intended to add essential tools for the ES+ application, only to be used by IET authorised staff</p>
        </div>

        <div class="btn-group btn-group-justified">
            <a href="#AdminUtilities/Home" class="btn btn-primary" style="height:100px;">Admin Utilities</a>
            <a href="#" class="btn btn-primary">Reports</a>
            <a href="https://electrical-standards.theiet.org/?home#?home&_suid=144439886137901408448216822218" target="_blank" class="btn btn-primary">ESP Website</a>
        </div>
    </div>
</div>